{% extends 'login_base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% block content %}

        <div class="login-container">
            <img src="{{ asset('assets/images/login_frame.svg') }}" class="frame" alt="colorful frame"/>
            <a href="{{ path('entry_point') }}" class="arrow"><img src="{{ asset('assets/images/icons/arrow_left.svg') }}" alt="back arrow"/></a>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Heureux de vous revoir !</h1>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <a class="forgotten-password" href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>

                <button class="" type="submit">
                    Se connecter
                </button>

                <a href="{{ path('app_register') }}" class="sign-up-button">Vous n'êtes pas encore inscrit ? Créez un compte.</a>
            </form>

        </div>

    {% endblock %}

{% endblock %}
