{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>Choix de l'abonnement</h1>

    <div class="subscription-container">
        {% for subscription in subscriptions %}

            {% set regularPrice = subscription.regularPrice|trim %}
            {% set salePrice = subscription.salePrice|trim %}
            {% set saleAmount = regularPrice - salePrice %}

            {% if saleAmount > 0 %}
                {% set price = salePrice %}
            {% else %}
                {% set price = regularPrice %}
            {% endif %}

            <div class="subscription-block">
                <p>{{ subscription.length }} mois</p>
                <p>{{ salePrice }} €</p>
                <p>Au lieu de <span class="subscription-regular-price">{{ regularPrice }} €</span></p>

                <form method="post" action="{{ path('subscription_payment') }}">
                    {% if saleAmount > 0 %}
                        <p>-{{ saleAmount }} € </p>
                    {% endif %}
                    <input type="hidden" id="amount" value="{{ price }}">
                    <input type="submit" value="Choisir">
                </form>

            </div>

        {% endfor %}
    </div>

{% endblock %}