<h1>Bienvenue {{ email.toName }}!</h1>

<p>
    Vous vous êtes inscrit(e) en tant que {{ username }} avec l'adresse e-mail suivante :
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ signedUrl|raw }}">Cliquez ici pour activer votre compte</a>
    (ce lien est valide jusqu'au {{ expiration_date|date('d/m/Y') }})
</p>